@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');





*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
}
body{
   
  height:90vh;
  

 
 
}


.maincontainer{
    width: 100%;
    height: 100%;
    margin-top:20px;
display: flex;
justify-content: center;
align-items: start;
gap:25px;

}
#imagecontainer{
    width:480px;
    height: 480px;
     
    border-right: 0.05px rgb(189, 179, 179)  solid;
}
#imagecontainer img{
    
    width: 100%;
    height: 100%;
  
    border-radius: 40px;
    position: relative;
    right:20%;
    bottom: 2%;
    transition: all 0.9 linear;

}
#imagecontainer img:hover{
    scale: 1.01;
}
.detailcontainer{
    
    width:750px;
    height: 430px;
    
    padding-top: 30px;
 
    
}
.detailcontainer .gen{
  
    height:60px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    font: 1.2em sans-serif;
}
.detailcontainer .desc{
    font-size: large;
    margin-top: 100px;
    margin-left: 5px;
}
.detailcontainer button{
    margin-top: 50px;
    margin-left: 5px;
    padding:12px;
    border-radius: 5px;
    font-size: smaller;
    font-weight: 700;
    /* background-color: rgb(211, 211, 226); */
    background-color: rgb(5, 5, 5);
    color: aliceblue;
    border:none;
   
}
.detailcontainer button:hover{
    background-color: rgb(165, 165, 193);
}

header
{
    
    width:100%;
     display: flex;
    justify-content: center;
    margin-top: 20px;
    box-shadow: 5px 5px 5px rgb(208, 205, 201);
    padding-bottom: 30px;
   
}
.iconcontainer{
    display:flex;
    justify-content: center;
    margin-top: 10px;
   
    margin-bottom: 15px;
    padding-right: 100px;
    gap: 15px;
   
    width: 90%;
    margin-left: 105px;
    
    
}
.iconcontainer i{
    font-size: xx-large;
}
h2,a{
    font-family: "Lato",sans-serif;
    font-weight: 600;
}
nav a{
    display: block;
    color: black;
    font-size: larger;
}
nav a:hover{
    text-decoration: underline;

}
nav{
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
   
    padding-left: 20px;
    
   
}
.gen h5{
    color:green
}